//
//	QUOTEBOARD
//	Button styles
//


/** Base Button Styles */

.btn {
	@include gradient(#008ad8, #00a1e0);
	border: 0;
	border-radius: 4px;
	//box-shadow: $boxShadow;
	color: $white;
	cursor: pointer;
	font: 16px "Roboto Regular";
	padding: 16px 30px;
	text-align: center;
	text-transform: uppercase;

	&:hover {
		background: #008ad8;
		box-shadow: $boxShadowInset !important;
		color: $white;
		text-decoration: none;
	}

	&:active {
		//box-shadow: $boxShadowDeep !important;
		outline: none;
	}

	&.secondary {
		@include gradient(#fc7f17, #fc6613);
	}

	&.collaborating:hover,
	&.following:hover {
		@include gradient($redFave, #c00);
	}

	&.loading,
	&[disabled] {
		cursor: default;
		opacity: 0.5;
	}

	&.collab {
		font-size: 14px;
		line-height: 22px;
	}
}