//
//	QUOTEBOARD
//	SASS Mixins
//

@mixin fontFace( $font, $filename, $svgNamespace ) {
	@font-face {
	    font-family: $font;
	    src: url('../font/#{$filename}.eot');
	    src: url('../font/#{$filename}.eot?#iefix') format("embedded-opentype"),
	         url('../font/#{$filename}.woff') format("woff"),
	         url('../font/#{$filename}.ttf') format("truetype"),
	         url('../font/#{$filename}.svg##{$svgNamespace}') format("svg");
	    font-weight: normal;
	    font-style: normal;
	}
}

@mixin gradient($from, $to) {
	// fallback for older browsers
	background: $from;
	// Firefox 3.6+
	background: -moz-linear-gradient(top, $from 0%, $to 100%);
	// Chrome 1+, Safari 4+
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $from), color-stop(100%, $to) );
	// Chrome 10+, Safari 5.1+
	background: -webkit-linear-gradient(top, $from 0%, $to 100%);
	// Opera 11.10+
	background: -o-linear-gradient(top, $from 0%, $to 100%);
	// Internet Explorer 10+
	background: -ms-linear-gradient(top, $from 0%, $to 100%);
	// W3C
	background: linear-gradient(to bottom, $from 0%, $to 100%);
}

@mixin transition( $what, $duration, $easing ) {
	-webkit-transition: $what $duration $easing;
	   -moz-transition: $what $duration $easing;
		-ms-transition: $what $duration $easing;
			transition: $what $duration $easing;
}