
//// Fixed Header ////

// Logo



// Fixed Nav

header {
	background: $purple;
	box-shadow: $boxShadowHead;
	height: $headerHeight;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 99;

	a {
		color: $purple;
		display: block;
		font: 14px "Open Sans Semibold";
		padding: 12px 15px;
	}

	> div {
		margin: 0 auto;
		max-width: $desktopLarge;
		position: relative;
	}

	// Hover State

	li:hover {
		background: transparentize($purple, 0.95);

		&:first-of-type {
			border-radius: 5px 5px 0 0;
		}

		&:last-of-type {
			border-radius: 0 0 5px 5px;
		}

		a {
			text-decoration: none;
		}
	}

	// Dropdown Menus (Default Styles)

	nav {
		li {
			border: 0;
			clear: left;

			&.group {
				border-bottom: 1px solid transparentize($purple, 0.9);
			}

			&:last-of-type {
				border-top: 1px solid transparentize($purple, 0.9);
			}
		}

		ul {
			background: $white;
			border-radius: 5px;
			box-shadow: $boxShadow;
			display: none;
			left: 6px;
			position: absolute;
			top: 54px;
			width: $headerNavWidth;
			z-index: 1;

			&:after {
				border-width: 0 9px 8px 8px;
				border-style: solid;
				border-color: $white transparent;
				content: "";
				display: block;
				left: 11px;
				position: absolute;
				top: -8px;
				width: 0;
			}
		}
	}

	// User Dropdown Menu (Overrides Defaults)

	nav#user {
		float: right;
		margin-left: 20px;
		position: relative;

		> a {
			background: url('../img/ico/gear.png') center no-repeat;
			height: $headerHeight;
			padding: 0;
			width: 57px;

			span {
				display: none;
			}
		}

		// Avatar, Name, Edit Profile Link

		li:first-child {
			border-bottom: 1px solid transparentize($purple, 0.9);
			float: left;
			width: 100%;

			&:hover {
				background: none;
			}

			a {
				border-bottom: 0;
				display: inline-block;
				float: left;
			}

			a.edit-profile {
				background: transparentize($purple, 0.9);
				font-size: 12px;
				letter-spacing: 0.025em;
				margin-top: 3px;
				padding: 5px;
			}

			span {
				display: inline-block;
				font: 16px "Open Sans Bold";
				padding: 14px 0 0;
			}

			img {
				border-radius: 50%;
				float: left;
			}

			span {
				display: block;
				margin: 0;
			}
		}

		li:last-child {
			background-image: url('../img/ico/exit.png');
			background-position: right center;
			background-repeat: no-repeat;
		}

		ul {
			left: auto;
			right: 6px;

			&:after {
				left: auto;
				right: 11px;
			}
		}
	}

	// Add Quote/Board, Search (Mobile)

	menu {
		background: $white;
		bottom: 0;
		box-shadow: $boxShadowHead;
		left: 0;
		position: fixed;
		width: 100%;

		a {
			float: left;
			padding: 5px 0;
			text-align: center;
			width: 33.33%;
		}

		a.newquote {
			background: url('../img/bg/add-quote.png') top center no-repeat;
			bottom: 0;
			height: 76px;
			left: 33.33%;
			padding: 0;
			position: absolute;

			span {
				background: url('../img/ico/newquote.png') center no-repeat;
				border: 0;
				display: block;
				height: 0;
				margin: 21px auto 0;
				overflow: hidden;
				padding: 44px 0 0;
				width: 56px;
			}
		}

		a.newboard {
			background: url('../img/ico/newboard.png') center no-repeat;
			font-size: 0;
			height: 34px;
		}

		a.search {
			background: url('../img/ico/search.png') center no-repeat;
			float: right;
			font-size: 0;
			height: 34px;
		}

		i {
			vertical-align: middle;
		}

		i.fa-search {
			vertical-align: baseline;
		}

		li {
			float: left;
			text-align: center;
			width: 33.33%;
		}

		li:hover a {
			background-color: transparent;
		}

		li:first-of-type {
			background: url('../img/bg/add-quote.png') top center no-repeat;
			bottom: 0;
			height: 76px;
			left: 33.33%;
			position: absolute;
		}

		li:last-of-type {
			float: right;
		}
	}


	// Logged Out - Join or Sign In

	> div > span {
		color: transparentize($white, 0.6);
		font-family: "Open Sans Light Italic";
		float: right;
		position: relative;

		a {
			color: $white;
			display: inline-block;
			font: 14px/48px "Open Sans Light";
			padding: 0 5px;
			text-transform: uppercase;

			+ a {
				padding-right: 15px;
			}
		}
	}

	// Global Search
	#site-search {
		display: none;
		position: relative;

		button {
			background: url('../img/ico/search-sm.png') center no-repeat;
			height: 0;
			margin: 0;
			min-width: 0;
			overflow: hidden;
			padding: 32px 0 0;
			position: absolute;
			right: 0;
			top: 8px;
			width: 32px;
		}

		input {
			-webkit-appearance: none;
			font-size: 12px;
		}
	}
} // header


//// Homepage ////

.home:not(.logged-in),
.page-id-411 {

}


//// Invite ////

.page-id-411 {

}


.single-quote {
	// Tags

	#tagged {
		a {
			background: transparentize($purple, 0.95);// url('../img/ico/tag.png') 10px center no-repeat;
			color: $purple;
			display: inline-block;
			font: 14px "Open Sans Bold";
			padding: 10px 10px 10px 18px;
			position: relative;

			&:after {
				border-top: 12px solid $white;
				border-right: 12px solid transparent;
				content: "";
				left: 0;
				position: absolute;
				top: 0;
			}

			&:before {
				border-bottom: 12px $white solid;
				border-right: 12px solid transparent;
				content: "";
				left: 0;
				position: absolute;
				bottom: 0;
			}
		}

		li {
			display: inline-block;
			font-size: 20px;
			margin: 0 10px 10px 0;
			padding: 0;
		}
	}
} // .single-quote


//// Feature List (To Do) ////

#to-do {
	h3 {
		background: $purple;
		border-radius: 50%;
		color: $white;
		float: left;
		font-size: 10px;
		line-height: 75px;
		margin: 0;
		text-align: center;
		text-transform: uppercase;
		width: 75px;
	}

	h4 {
		float: left;
		font: 14px/75px "Open Sans Semibold";
		margin: 0 0 0 20px;
		opacity: 0.5;
	}

	li {
		padding: 5px 0 5px 20px;
		position: relative;

		&:before {
			content: "\25B6";
			position: absolute;
			left: -2px;
			top: 5px;
		}
	}

	ul {
		border-left: 3px solid $purple;
		clear: left;
		list-style: none;
		margin: 0 0 0 35px;
		padding: 20px 0;
	}
}


//// Blog ////

.post {
	border-bottom: 1px solid transparentize($purple, 0.89);
	padding-bottom: 20px;
	margin-bottom: 30px;

	&:last-of-type {
		border: 0;
		padding-bottom: 0;
		margin-bottom: 0;
	}

	h2 {
		margin-bottom: 0;

		a {
			color: $purple;
		}
	}

	img {
		@include transition( opacity, 0.25s, ease-in-out );
		border-radius: 50%;
		box-shadow: $boxShadowThin;
		float: right;
		margin: 0 0 20px 20px;

		&:hover {
			box-shadow: none;
			opacity: 0.77;
		}

		&.post-featured {
			border-radius: 2px;
			box-shadow: none;
			margin: 20px 0;

			&:hover {
				opacity: 1;
			}
		}
	}

	.meta {
		color: transparentize($purple, 0.23);
		font-size: 14px;
		margin: 0;
	}
}

.single-post .post h2 {
	margin-top: 0;
}


//// Structure ////

main {
	-moz-box-sizing: border-box;
		 box-sizing: border-box;
	display: block;
	margin: 0 auto $footerHeight * -1;
	max-width: $desktopLarge;
	min-height: 100%;
	//overflow: auto; // this may cause trouble
	padding: ($headerHeight + 10) 10px;
	position: relative;

	&:after { // for sticky footer
		clear: both;
		content: "";
		display: none;
		height: $footerHeight;
	}

	li {
		padding-bottom: 0.5em;
	}

	li, p {
		line-height: 1.35em;
	}

	ul {
		list-style: disc;
		margin: 1em 0;
		padding-left: 40px;
	}
}


//// Single (Permalink) View ////

.single {
	
}



//// Autocomplete ////

.autocomplete-suggestions {
	background: $white;
	border: 1px solid transparentize($purple, 0.89);
	border-top: 0;
	box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
	-moz-box-sizing: border-box;
		 box-sizing: border-box;
	padding: 4px 0;

	.autocomplete-suggestion {
		font-size: 14px;
		line-height: 15px;
		margin: 0 4px;
		padding: 8px 6px;

		&:hover {
			@include gradient(url('../img/blank.gif'), transparentize($purple, 0.2), $purple);
			color: $white;
			cursor: pointer;
		}

		&.autocomplete-selected {

		}
	}
}


//// Error Page ////

#error-page {
	text-align: center;

	h1 {
		font-size: 108px;
		margin: 0;
	}

	h2 {
		font: 24px "Open Sans Italic";
		margin: 0;
	}
}


//// Misc ////

.current-menu-item {
	background: transparentize($purple, 0.9);

	&:hover {
		background: transparentize($purple, 0.9) !important;
	}

	&:first-of-type {
		border-radius: 5px 5px 0 0;
	}

	a {
		//color: $white !important;
		cursor: default;
		font-family: "Open Sans Bold";
	}
}

.current-cat a {
	cursor: default;
	font-family: "Open Sans Bold";

	&:hover {
		text-decoration: none;
	}
}

.aligncenter {
	text-align: center;
}

.hidden {
	display: none;
}

.success {
	color: $successText !important;
}

.error {
	color: $errorText;
}

.erase-board {
	color: $errorText;
	font-family: "Open Sans Bold";
}




// Social Media Icons

.social {
	display: inline-block;
	height: 0;
	margin: 0 10px;
	overflow: hidden;
	padding-top: 32px;
	width: 32px;

	&.em {
		background: url('../img/ico/social-email.png') left center no-repeat;
	}

	&.fb {
		background: url('../img/ico/social-facebook.png') left center no-repeat;
		color: $blueFacebook;
	}

	&.tw {
		background: url('../img/ico/social-twitter.png') left center no-repeat;
		color: $blueTwitter;
	}
}


// Flat Icons

.ico {
	cursor: pointer;
	display: inline-block;
	height: 0;
	overflow: hidden;
	padding: 16px 0 0;
	width: 16px;

	&.boards {
		background: url('../img/ico/board.png') center no-repeat;
	}

	&.close {
		background: url('../img/ico/close.png') center no-repeat;
	}

	&.delete {
		background: url('../img/ico/delete.png') center no-repeat;
	}

	&.edit {
		background: url('../img/ico/edit.png') center no-repeat;
	}

	&.fave {
		background: url('../img/ico/fave.png') center no-repeat;
	}

	&.faved {
		background: url('../img/ico/faved.png') center no-repeat;
	}

	&.loading {
		background: url('../img/loader.gif') center no-repeat;
		opacity: 1 !important;
	}

	&.members {
		background: url('../img/ico/member.png') center no-repeat;
	}

	&.quotes {
		background: url('../img/ico/quote.png') center no-repeat;
	}

	&.requote {
		background: url('../img/ico/requote.png') center no-repeat;
	}

	&.default {
		display: none;
	}
}

// Messages

.message {
	background: lighten($neutral, 70%);
	border: 1px solid transparentize($neutral, 0.75);
	border-radius: 5px;
	color: $neutral;
	padding: 15px;

	&.add {
		@include gradient(url('../img/blank.gif') center right no-repeat, $white, #e5e5e5);
		border: 1px solid transparentize($neutral, 0.55);
		border-left: 5px solid $neutral;
		color: darken($neutral, 23%);

		&.connect strong {
			background-image: url('../img/ico/all-24.png');
		}

		&.update strong {
			background-image: url('../img/ico/member-24.png');
		}

		strong {
			background-image: url('../img/ico/newquote-24.png');
		}
	}

	&.error {
		background: $error;
		border: 1px solid $errorBorder;
		border-left: 5px solid $errorBorder;
		color: $errorText;
	}

	&.info {
		background: $info;
		border: 1px solid $infoBorder;
		border-left: 5px solid $infoBorder;
		color: $infoText;
	}

	&.success {
		background: $success;
		border: 1px solid $successBorder;
		border-left: 5px solid $successBorder;
		color: $successText;
	}

	&.warning {
		background: $warning;
		border: 1px solid $warningBorder;
		border-left: 5px solid $warningBorder;
		color: $warningText;
	}

	+ .btn {
		margin-top: 0;
	}

	strong {
		background-position: center right;
		background-repeat: no-repeat;
		display: block;
		line-height: 24px;
	}
}

a.message {
	display: block;
	margin-bottom: 1em;
}