//
//	QUOTEBOARD
//	Tab styles
//


/** Tab Navigation */

.tabs {
	a {
		border-radius: 4px 4px 0 0;

		&:hover {
			text-decoration: none;
		}
	}

	li {
		float: left;
	}
}


/** Tab Content Panes */

.pane {
	clear: left;
	display: none;

	&.visible {
		display: block;
	}
}