//
//	QUOTEBOARD
//	404 Error Page Styles
//

.error404 {
	footer p {
		border: 0;
		padding-bottom: 0;
	}

	h1 {
		font-size: 34px;
	}

	p {
		border-bottom: 1px solid darken($white, 15%);
		padding-bottom: 1.5em;
	}

	.main {
		text-align: center;
	}
}