//
//	QUOTEBOARD
//	Header & Main Navigation Styles
//


/** Fixed Header */

body > header {
	// display: none;
	background: $qbPurple;
	height: $headerHeight;
	position: fixed;
	width: 100%;
	z-index: 99;

	form {
		float: right;
		position: relative;
	}

	input[type="text"] {
		background: #7a465b;
		border-radius: 18px;
		color: lighten($qbPurple, 65%);
		float: left;
		font-size: 14px;
		margin: 10px 12px;
		padding: 10px 20px;
		width: 500px;

		&::-webkit-input-placeholder {
			color: #cd99ae;
			// opacity: 0.75;
		}

		&::-moz-placeholder {
			color: #cd99ae;
		}
	}

	.ico.search {
		bottom: 12px;
		left: auto;
		right: 20px;
		top: 12px;
		width: auto;

		&:before {
			color: #cd99ae;
			font-size: 20px;
			// opacity: 0.75;
			padding: 0;
		}
	}

	li {
		float: left;

		a {
			// color: $qbPurple;
			color: $white;
			display: inline-block;
			font-size: 14px;
			line-height: 60px;
			padding: 0 15px;
			text-transform: uppercase;
		}

		a:hover {
			background-color: transparentize($qbPurple, 0.95);
			color: darken($qbPurple, 10%);
			text-decoration: none;
		}
	}

	ul {
		display: none;
		float: right;
	}

	#logo {
		// background: url('../images/logo-icon.png') center no-repeat;
		// background-size: 50%;
		float: left;
		font-size: 0;
		padding: 17px 15px;

		&:hover {
			path {
				// fill: darken($white, 25%);
			}
		}

		svg {
			width: 160px;

			path {
				fill: $white;
			}
		}
	}

	// #beta {
	// 	color: $qbPurple;
	// 	float: left;
	// 	font: bold 12px/60px "Roboto Regular";
	// 	margin-left: 10px;
	// 	text-transform: uppercase;
	// }
}


/** User Dropdown Navigation */

header > nav {
	float: right;

	li {
		float: none;
	}

	ul {
		&:hover {
			background: $info;
		}

		&:hover ul {
			display: block;
		}
	}

	ul ul {
		border-radius: 4px 0 4px 4px;
		box-shadow: $boxShadow;
		display: none;
		position: absolute;
		right: 0;
		top: 60px;
		width: 180px;

		a {
			background: $info;
			display: block;
			line-height: 45px;
			text-transform: none;
		}

		a:hover {
			background: darken($info, 10%);
		}

		li:first-child a {
			border-bottom: 1px solid darken($info, 6%);
			border-radius: 4px 0 0;
			font-family: "Roboto Medium";
			line-height: normal;
			padding-top: 15px;
		}

		li:first-child span {
			color: $grayHandle;
			display: block;
			font: 12px "Roboto Regular";
			margin: 0 0 15px;
		}

		li:last-child {
			border-top: 1px solid darken($info, 6%);
		}

		li:last-child a {
			border-radius: 0 0 4px 4px;
		}
	}

	#dropdown-avatar {
		line-height: normal;
		padding: 6px 30px 6px 15px;
		position: relative;

		img {
			display: block;
		}

		.ico {
			left: auto;
			right: 11px;
			top: 22px;
		}

		.ico:before {
			color: $qbPurple;
			font-size: 16px;
		}
	}
}


/** Signed Out - Sign In or Join Options */

#login-options {
	float: right;

	a {
		color: $qbPurple;
		display: inline-block;
		font-size: 14px;
		line-height: 60px;
		padding: 0 15px;
		text-transform: uppercase;
	}

	a:hover {
		background-color: transparentize($qbPurple, 0.95);
		color: darken($qbPurple, 10%);
		text-decoration: none;
	}
}


/** Slide Out Drawer Navigation */

body > nav {
	background: $qbPurple;
	height: 100%;
	left: $headerNavWidth * -1;
	position: fixed;
	top: 0;
	width: $headerNavWidth;
	z-index: 100;

	+ .main {
		padding-top: $headerHeight + 30;
	}
	
	a {
		color: $white;
		display: block;
		line-height: 45px;
		padding: 0 15px 0 40px;

		&:hover {
			background: darken($qbPurple, 5%);
			color: $white;
			text-decoration: none;
		}

		&.active {
			background: darken($qbPurple, 10%);
			cursor: default;
		}
	}

	footer {
		bottom: 0;
		font-size: 12px;
		left: 0;
		position: absolute;
		text-align: center;
		width: 100%;

		a {
			color: transparentize($white, 0.25);
			display: inline;
			line-height: normal;
			padding: 0 8px;
		}

		li {
			display: inline;
		}

		p {
			color: transparentize($white, 0.5);
			font-size: 12px;
			margin: 10px 0 23px;
			text-transform: uppercase;
		}

		ul {
			margin: 0;
		}
	}

	li {
		position: relative;

		&.current-menu-item a {
			background: darken($qbPurple, 5%);
			color: $white;
			font-family: "Roboto Medium";
		}

		&.last {
			border-bottom: 1px solid lighten($qbPurple, 10%);
			margin-bottom: 8px;
			padding-bottom: 8px;
		}
	}

	ul {
		display: none;
		margin-top: 15px;
	}

	.ico {
		color: $white;
		top: 14px;

		&:before {
			font-size: 16px;
			padding: 0;
		}

		&.social {
			color: transparentize($white, 0.25);
			display: inline-block;
			margin: 12px 0 0;
			position: static;
		}

		&.social:hover {
			background: none;
			color: $white;
		}
	}
}


/** Logged In - Show Nav */

.logged-in {
	> header > ul,
	> header > nav > ul {
		display: block;
	}
}