//
//	QUOTEBOARD
//	Homepage Hero Styles
//


.home {
	h3 {
		margin-top: 2em;
	}

	header {
		background: none;

		form,
		#logo {
			display: none;
		}

		li a {
			line-height: normal;
			opacity: 0.5;
			padding: 20px 10px;
			text-transform: none;

			&:last-child {
				padding-right: 20px;
			}
		}

		li a:hover {
			background: none;
			color: $white;
			opacity: 1;
		}

		nav ul ul li:first-child a {
			border-bottom-color: lighten($qbPurple, 10%);
		}

		nav ul ul li:first-child span {
			margin-bottom: 0;
		}

		nav ul ul li:last-child {
			border-top-color: lighten($qbPurple, 10%);
		}

		nav ul:hover {
			background: transparentize($qbPurple, 0.1);

			#dropdown-avatar {
				opacity: 1;
			}
		}

		nav ul ul {
			width: 220px;
		}

		nav ul ul:hover {
			background: none;
		}

		nav ul ul a {
			background: transparentize($qbPurple, 0.1);
			color: $white;
			opacity: 1;
			padding: 10px;

			&:hover {
				background: $qbPurple;
			}
		}

		#dropdown-avatar {
			display: block;
			padding: 14px 30px 14px 15px;

			img {
				height: 32px;
				width: 32px;
			}

			.ico:before {
				color: $white;
				font-size: 14px;
			}
		}
	}

	#login-options a {
		color: $white;
		line-height: normal;
		opacity: 0.5;
		padding: 20px;

		&:hover {
			background: none;
			color: $white;
			opacity: 1;
		}

		// .ico {
		// 	position: static;
		// }

		// .ico:before {
		// 	color: $white;
		// 	font-size: 14px;
		// 	padding-right: 5px;
		// }
	}


	// Curated Boards

	.curated {
		margin: 40px auto 10px;

		article {
			box-shadow: $bubbleShadow;
			margin-bottom: 37.5px;
			width: 210px;

			&:hover img {
				opacity: 0.85;
				transform: scale(1.05);
			}

			&:hover h4 {
				text-decoration: underline;
			}

			a {
				color: $black;
			}

			a:hover {
				text-decoration: none;
			}

			div {
				background: $white;
				border-radius: 0 0 4px 4px;
				height: 130px;
				padding: 10px;
			}

			h4 {
				font-size: 16px;
				font-weight: bold;
				margin: 5px 0 10px;
			}

			img {
				@include transition(all, 250ms, ease-in-out);
				border-radius: 4px 4px 0 0;
				display: block;
				margin: auto;
			}

			p {
				color: #555;
				font-size: 12px;
				line-height: 1.5;
				margin-bottom: 1em;
			}

			.avatar {
				background: $white;
				border-radius: 4px 4px 0 0;
				display: block;
				overflow: hidden;
				min-height: 210px;
			}
		}
	}
}

.home #hero {
	align-items: center;
	background: url('../images/home-splash.jpg');
	background-size: cover !important;
	display: flex;
	height: 100%;
	justify-content: center;

	> div {
		max-width: 1200px;
		position: relative;
		text-align: center;
	}

	h1 {
		background: url('../images/logo.svg');
		display: inline-block;
		font-size: 0;
		height: 58px;
		margin: 0 0 0 -8px;
		width: 353px;
	}

	h2 {
		color: $white;
		font: normal 45px/54px "Roboto Light", sans-serif;
		// margin: 0.5em 0 1.5em;
		margin: 0.5em 0 1em
	}


	// Forms

	form {
		display: block;
		position: relative;

		&#site-search {
			margin: auto;
			max-width: 600px;
			width: 75%;

			button {
				width: auto;
			}

			input {
				border-radius: 28px;
				padding-left: 26px;
				padding-right: 60px;
			}

			.ico {
				cursor: pointer;
			}
			.ico:before {
				display: block;
				font-size: 26px;
				margin-top: -5px;
				padding-top: 0;
			}
		}
		// &#reset-pw {
		// 	display: none;
		// }

		// a {
		// 	color: darken($linkBlue, 15%);
		// }

		// a:hover {
		// 	color: darken($linkBlue, 25%);
		// }

		// > div {
		// 	margin-bottom: 20px;
		// }

		// > div:last-child {
		// 	margin-bottom: 0;
		// }

		// h2 {
		// 	display: none;
		// }

		// #signin-options {
		// 	margin-left: 0;
		// 	margin-right: 0;
		// }
	}


	// Sign in form - loading UX

	form.loading {
		.sso-loading {
			display: block;
		}

		> div {
			opacity: 0.25;
		}
	}

	.sso-loading {
		bottom: 0;
		border-radius: 4px;
		display: none;
		left: 0;
		margin: 0;
		position: absolute;
		right: 0;
		top: 0;

		span {
			background: transparentize($qbPurple, 0.2);
			border-radius: 4px;
			color: $white;
			font-size: 11px;
			left: 50%;
			line-height: 29px;
			margin: -15px 0 0 -85px;
			padding: 0 10px;
			position: absolute;
			text-align: center;
			text-transform: uppercase;
			top: 50%;
			width: 170px;
		}
	}


	// Overlay

	.overlay {
		background: transparentize($black, 0.85);
		max-width: none;
		position: absolute;
		top: 0;
		z-index: 0;
	}


	// Other Stuff
	
	.btn {
		box-shadow: $boxShadow;
		margin-bottom: 0;
	}

	.pane {
		background: transparentize($white, 0.5);
		border-radius: 0 4px 4px 4px;
		box-shadow: $boxShadow;
		padding: 20px;
	}

	.tabs {
		a {
			background: transparentize($white, 0.75);
			color: transparentize($white, 0.25);
			display: inline-block;
			font-size: 20px;
			line-height: 50px;
			min-width: 75px;
			padding: 0 15px;
			text-align: center;
		}

		a:hover {
			background: transparentize($white, 0.65);
			color: transparentize($white, 0.15);
		}

		a.active {
			background: transparentize($white, 0.5);
			color: $white;
		}

		li {
			margin-right: 2px;
		}
	}


	// Footer Nav (Beneath Sign In Form)

	footer {
		color: $white;
		font: 14px "Roboto Light";
		text-align: center;

		a {
			color: $white;
		}

		li {
			display: inline-block;
			padding: 15px 7px 0;
		}

		li:last-child {
			opacity: 0.5;
		}
	}
}