//
//	QUOTEBOARD
//	Profile Styles for Boards and Members
//


.profile {
	background: $white;
	border-radius: 4px;
	box-shadow: $bubbleShadow;
	margin-left: 30px;

	// keep it floating
	position: fixed;
    top: 90px;
    width: 450px;

    &.static {
    	position: static;
    	margin-bottom: 30px;
    }

	
	// Cover Photo

	.cover {
		align-items: center;
		background-size: cover !important;
		border-radius: 4px 4px 0 0;
		color: $white;
		height: 180px;
		position: relative;

		&:before {
			background: transparentize($black, 0.5);
			border-radius: 4px 4px 0 0;
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
		}

		> div {
			align-items: center;
			display: flex;
			position: relative;
			height: 100%;
			margin-left: 170px;
		}

		h3,
		p {
			margin: 0;
		}

		h3 {
			line-height: 1.2;
		}
		
		h3 span {
			display: block;
			font-size: 14px;
			// margin-bottom: -5px;
			opacity: 0.82;
		}

		img {
			border-radius: 4px 0px 0px;
			float: left;
			position: relative;
		}

		li {
			display: inline-block;
			font: 14px "Roboto Light";
			margin: 0 5px;
			opacity: 0.75;
			position: relative;
		}

		ul {
			margin: 0;
		}

		.material-icons {
			padding-right: 2px;
			position: static;
		}

		.material-icons:before {
			font-size: 14px;
			padding: 0;
		}
	}


	// Description

	.meta {
		padding: 30px;

		p,
		p + a {
			font-size: 14px;
			line-height: 1.5;
			margin: 0;
		}

		p + a {
			color: #aaa;
			display: inline-block;
			margin-left: 10px;

			&:hover {
				color: #666;
			}
		}

		p + p {
			display: inline-block;
			margin-top: 1em;
		}
	}

	// background: $white;
	// border-bottom: 1px solid darken($white, 10%);
	// margin: 0 0 20px;

	// > section {
	// 	margin: 0 auto;
	// 	position: relative;
	// 	width: 940px;
	// }

	// > section > div {
	// 	float: left;
	// 	width: 550px;
	// }

	// aside {
	// 	float: right;
	// 	width: 140px;
	// }

	// aside ul {
	// 	margin: 30px 0;
	// }

	// h3 {
	// 	margin: 18px 0 0;
	// 	overflow: hidden;
	// 	text-overflow: ellipsis;
	// 	white-space: nowrap;
	// }

	// img {
	// 	//box-shadow: $boxShadow;
	// 	background: $white;
	// 	border: 5px solid $white;
	// 	float: left;
	// 	margin: -40px 25px 15px -5px;

	// 	&:before {
	// 		content: "";
	// 	}
	// }

	// li {
	// 	font-family: "Roboto Medium";
	// 	margin: 0 0 8px;
	// 	position: relative;
	// }

	// p {
	// 	margin: 0.5em 0;
	// }

	// .btn {
	// 	display: block;
	// 	padding: 12px;
	// }

	// .btn:hover {
	// 	box-shadow: $boxShadowInset !important;
	// }

	// .ico {
	// 	color: $black;
	// 	padding-right: 10px;
	// 	position: static;
	// }

	// .ico:before {
	// 	font-size: 20px;
	// 	padding: 0;
	// 	vertical-align: bottom;
	// }

	// // Status Indicator Icons (Public, Private)

	// .status {
	// 	background: $white;
	// 	border-radius: 0 0 4px;
	// 	font-size: 18px;
	// 	height: 27px;
	// 	left: -1px;
	// 	line-height: 26px;
	// 	padding: 0;
	// 	position: absolute;
	// 	text-align: center;
	// 	top: -36px;
	// 	width: 27px;

	// 	&.private:before {
	// 		color: $black;
	// 		content: "\e608";
	// 	}

	// 	&.public:before {
	// 		color: $qbPurple;
	// 		content: "\e60c";
	// 	}

	// 	// not in use yet
	// 	// &.official:before {
	// 	// 	color: red;
	// 	// 	content: "\e617";
	// 	// }
	// }

	// if we want to have "Public Board" font on the profile area...
	// .public-text {
	// 	color: $neutral;
	// 	font: 14px "Roboto Medium";
	// 	letter-spacing: .1em;
	// 	text-transform: uppercase;
	// }
}


/** Dropdown Menu with More Options (Followers, Edit Profile) */

#profile li.context {
	&:hover > a {
		background: $info;
		box-shadow: $boxShadow;
		opacity: 1;
	}

	&:hover ul {
		display: block;

		a {
			background: $info;
		}
	}

	> a {
		font-size: 0;
	}

	li {
		float: none;
		margin-left: 0 !important;

		&:first-child a,
		&:first-child a:hover {
			border-radius: 4px 0 0;
		}

		&:last-child a,
		&:last-child a:hover {
			border-radius: 0 0 4px 4px;
		}

		a {
			border-radius: 0;
			display: block;
			opacity: 1;
		}

		a:hover {
			background: darken($info, 10%);
			border-radius: 0;
		}
	}

	ul {
		border-radius: 4px 0 4px 4px;
		box-shadow: $boxShadow;
		display: none;
		position: absolute;
		right: 0;
		top: 40px;
		width: 150px;
	}

	.material-icons {
		padding: 0;

		&:before {
			vertical-align: -webkit-baseline-middle;
		}
	}
}

ul.tabnav {
	position: absolute;
	right: 0;
	top: -40px;

	a {
		background: $white;
		border-radius: 4px 4px 0 0;
		color: transparentize($black, 0.2);
		display: inline-block;
		font-family: "Roboto Regular";
		line-height: 40px;
		opacity: 0.9;
		padding: 0 15px;
	}

	a:hover {
		color: transparentize($black, 0.1);
		opacity: 1;
		text-decoration: none;
	}

	a.active {
		color: $black;
		font: 18px/40px "Roboto Medium";
		margin-top: -5px;
		opacity: 1;
		padding-bottom: 3px;
		padding-top: 2px;
	}

	a.active:hover {
		cursor: default;
	}

	li {
		float: left;
		margin: 0 0 0 2px !important;
	}

	ul a.active {
		background: darken($info, 10%) !important;
		font-size: 16px;
		line-height: 40px;
		margin: 0;
		padding: 0 15px;
	}
}

.photo img {
	float: left;
	height: 48px;
	margin: 0 20px 0 0;
	width: 48px;
}