// @font-face and other typography

// params: font name, filename, SVG namespace
@include fontFace("Roboto Light", "roboto-light-webfont", "robotolight");
@include fontFace("Roboto Regular", "roboto-regular-webfont", "robotoregular");
@include fontFace("Roboto Medium", "roboto-medium-webfont", "Roboto-Medium");
//@include fontFace("QB Icons", "icomoon", "icomoon");

@font-face {
	font-family: "QB Icons";
	src:url('../font/icomoon.eot?-mlcsjb');
	src:url('../font/icomoon.eot?#iefix-mlcsjb') format("embedded-opentype"),
		url('../font/icomoon.woff?-mlcsjb') format("woff"),
		url('../font/icomoon.ttf?-mlcsjb') format("truetype"),
		url('../font/icomoon.svg?-mlcsjb#icomoon') format("svg");
	font-weight: normal;
	font-style: normal;
}
