//
//	QUOTEBOARD
//	SASS Variables
//

//// Colors ////

$black 			: #0f0f0f;
$linkBlue		: #0095dc;
$offWhite		: #f8f8f8;
$grayBody		: #f5f3f4;
$grayIcon		: #c7c7c7;
$grayHandle		: #828282;
$qbPurple 		: #4c1b2f;
$redFave		: #e72020;
$white			: #ffffff;
$yellow			: #f8ff10;


//// Indicators ////

$error			: #f2dede;
$errorBorder	: #ebccd1;
$errorText		: #a94442;
$success		: #dff0d8;
$successBorder	: #d6e9c6;
$successText	: #3c763d;
$info			: #d9edf7;
$infoBorder		: #bce8f1;
$infoText		: #31708f;
$warning		: #fcf8e3;
$warningBorder	: #faebcc;
$warningText	: #8a6d3b;
$neutral		: #aaaaaa;


//// Shadows ////

$boxShadow		: 1px 1px 1px transparentize($black, 0.75);
$boxShadowInset	: inset $boxShadow;
$bubbleShadow	: 1px 1px 3px transparentize($black, 0.88);


//// Sizes ////

$avatar 		: 80px;
$avatarSmall	: 48px;
//$footerHeight	: 75px;
//$footerHeightSm	: 50px;
$headerHeight	: 60px;
$headerNavWidth : 240px;
$mainWidth		: 800px;
$pageWidth		: 940px;


//// Media Queries ////

//$desktopLarge	: 1440px;